In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv(r"H:\Financials\Budget Tracker\Clutter\Copy of MSP_CostPerWeek (003).csv", index_col = 0)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4957 entries, 0 to 0
Data columns (total 14 columns):
UAS                     4957 non-null object
WkActualCost            4957 non-null float64
WkRemainingCost         4957 non-null float64
WkBaseline0Cost         611 non-null float64
Week#                   4957 non-null int64
EndWkDate               4957 non-null object
WkActualCostCumm        4957 non-null int64
WkRemainingCostCumm     4957 non-null int64
WkBaseline0CostCumm     4957 non-null int64
VolpeTask               4957 non-null object
FundsExhaustedWk        1482 non-null object
UASCommitment           4957 non-null int64
FormAAcceptedAmt        239 non-null float64
FormAAcceptedAmtCumm    4957 non-null int64
dtypes: float64(4), int64(6), object(4)
memory usage: 580.9+ KB

In [4]:
df.head(2)

,UAS,WkActualCost,WkRemainingCost,WkBaseline0Cost,Week#,EndWkDate,WkActualCostCumm,WkRemainingCostCumm,WkBaseline0CostCumm,VolpeTask,FundsExhaustedWk,UASCommitment,FormAAcceptedAmt,FormAAcceptedAmtCumm
Expr1,,,,,,,,,,,,,,
0,D0102A,1677.1,0.0,NaN,17,25-Jan-20,33039,0,0,xxx,NaN,0,NaN,128359
0,D0102A,1087.6,0.0,NaN,18,01-Feb-20,34127,0,0,xxx,NaN,0,NaN,128359

In [11]:
D0102A = df[df.isin('D0102A')]

TypeError: only list-like or dict-like objects are allowed to be passed to DataFrame.isin(), you passed a 'str'

In [10]:
print(df)

          UAS  WkActualCost  WkRemainingCost  WkBaseline0Cost  Week#  \
Expr1
0      D0102A        1677.1         0.000000              NaN     17
0      D0102A        1087.6         0.000000              NaN     18
0      D0102A        1889.1         0.000000              NaN     19
0      D0102A        1889.1         0.000000              NaN     20
0      D0102A        1418.6         0.000000              NaN     21
...       ...           ...              ...              ...    ...
0      X0200A           0.0      4405.306760              NaN     49
0      X0200A           0.0      3524.245408              NaN     50
0      X0200A           0.0      4401.065540              NaN     51
0      X0200A           0.0      4382.902096              NaN     52
0      X0200A           0.0         0.000000              NaN     53

       EndWkDate  WkActualCostCumm  WkRemainingCostCumm  WkBaseline0CostCumm  \
Expr1
0      25-Jan-20             33039                    0                    0
0      01-Feb-20             34127                    0                    0
0      08-Feb-20             36016                    0                    0
0      15-Feb-20             37905                    0                    0
0      22-Feb-20             39324                    0                    0
...          ...               ...                  ...                  ...
0      05-Sep-20             58040               111575                    0
0      12-Sep-20             58040               115099                    0
0      19-Sep-20             58040               119500                    0
0      26-Sep-20             58040               123883                    0
0      30-Sep-20             58040               123883                    0

      VolpeTask FundsExhaustedWk  UASCommitment  FormAAcceptedAmt  \
Expr1
0           xxx              NaN              0               NaN
0           xxx              NaN              0               NaN
0           xxx              NaN              0               NaN
0           xxx              NaN              0               NaN
0           xxx              NaN              0               NaN
...         ...              ...            ...               ...
0        J06200                X          75000               NaN
0        J06200                X          75000               NaN
0        J06200                X          75000               NaN
0        J06200                X          75000               NaN
0        J06200                X          75000               NaN

       FormAAcceptedAmtCumm
Expr1
0                    128359
0                    128359
0                    128359
0                    128359
0                    128359
...                     ...
0                     75000
0                     75000
0                     75000
0                     75000
0                     75000

[4957 rows x 14 columns]

In [18]:
df = df.replace({'n.a': np.nan})
df = df.replace({'?': np.nan})

In [19]:
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns
missing_values_table(df)

Your selected dataframe has 9 columns.
There are 1 columns that have missing values.

       Missing Values  % of Total Values
price               3                4.9

In [24]:
# Get the columns with > 50% missing
missing_df = missing_values_table(df);
missing_columns = list(missing_df[missing_df['% of Total Values'] > 50].index)
print('We will remove %d columns.' % len(missing_columns))

Your selected dataframe has 9 columns.
There are 1 columns that have missing values.
We will remove 0 columns.

In [27]:
# Drop the columns
df = df.drop(columns = list(missing_columns))